body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body * {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
}

.button {
  padding: 10px 15px;
  color: #fff;
  background-color: #0f172a;
  border: 0;
  text-align: center;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
}

.button.right {
  margin-left: auto;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px dashed #000;
  padding-bottom: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

a {
  color: #000;
  font-size: 15px;
  font-weight: bold;
  max-width: 100%;
  display: inline-block;
}

.operation-result {
  font-size: 16px;
  font-weight: bold;
  word-break: break-all;
  margin-bottom: 30px;
}

@media screen and (max-width: 680px) {
  .header {
    flex-direction: column;
  }

  .button {
    width: 100%;
  }

  .button.right {
    margin-left: 10px;
  }
}

.operation-info {
  margin-top: 10px;
}

.operation-info.mb {
  margin-bottom: 30px;
}

.operation-info,
.operation-info a {
  font-size: 13px;
}

.loader-wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 15px;
}

.loader-wrapper.visible {
  display: flex;
}

.transaction-link {
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 8px;
}

/* SPINNER */
/* https://projects.lukehaas.me/css-loaders/ */

.loader,
.loader:after {
  border-radius: 50%;
  width: 3em;
  height: 3em;
}

.loader {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.5em solid rgba(0, 0, 0, 0.2);
  border-right: 0.5em solid rgba(0, 0, 0, 0.2);
  border-bottom: 0.5em solid rgba(0, 0, 0, 0.2);
  border-left: 0.5em solid #000;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Elven.js QR code styles - by default it isn't styled, but you can use these styles or custom ones in your app */

.qr-code-container {
  max-width: 400px;
  width: 100%;
  box-shadow: 0px 0px 26px -8px rgba(66, 68, 90, 0.43);
  margin: 30px auto;
  text-align: center;
}

.qr-code-container .elven-qr-code-deep-link {
  margin-bottom: 24px;
  font-size: 16px;
  display: inline-block;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  padding: 8px 16px;
}

/* Elven.js pairings styles - by default it isn't styled, but you can use these styles or custom ones in your app */

.elven-wc-pairings {
  padding-bottom: 20px;
}

.elven-wc-pairings-header {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.elven-wc-pairing-item {
  padding: 20px 10px;
  border: 1px dashed black;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.elven-wc-pairings-remove-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #0f172a;
  color: white;
  float: right;
  border: 0;
  border-radius: 100%;
  cursor: pointer;
  line-height: 1;
  font-size: 14px;
}

.elven-wc-pairing-item-description {
  text-align: left;
}

.elven-wc-pairing-item-confirm-msessage {
  margin-bottom: 10px;
}
